.tool_window {
  top: 150px;
}

.app {
  overflow: hidden;
}

.container > * {
  margin: 60px auto;
  display: flex;
  justify-content: center;
}

button.red {
  background-color: lightgray;
  box-shadow: 0px 0px 8px 5px white;
}

div.active {
  display: block;
}

.indicators-button {
  width: 30px;
  height: 30px;
  margin: 10px 7px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.indicators-button:focus {
  outline: 0;
}

#indicators-slider {
  width: 160px;
  height: 60px;
  position: relative;
  overflow: hidden;
}

#indicators_next {
  box-shadow: -2px 0px 6px white;
  border: none;
  margin-left: -20px;
  z-index: 1;
}

#indicators_prev {
  transition: margin-left 0.5s;
  box-shadow: 1px 0px 6px white;
  border: none;
  margin-left: 12px;
}

#indicators_prev.inactive {
  margin-left: 52px;
}

div.slider {
  transition: left 0.1s;
  position: absolute;
  top: 0;
  left: 150px;
  width: 500px;
}

div.active {
  display: flex;
  left: 0;
}

.prev-container {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.content {
  display: block;
  margin: auto;
  height: 450px;
}

#vids {
  width: 1200px;
  height: 450px;
  position: relative;
  margin: auto;
  transition: width 0.7s;
}

#vids.two_blocks {
  width: 800px;
}

#vids.one_block {
  width: 400px;
}

#vids > .slider {
  display: flex;
  /*transition: top 0.5s;*/
  transition: opacity 0.7s;
  width: 100%;
  opacity: 0;
  /*top: 500px;*/
  top: 0;
  left: 0;
}

#vids > .active {
  /*top: 0;*/
  opacity: 1;
  z-index: 1;
}

#indicators-slider > .slider {
  margin-left: 5px;
}

.indicators-container {
  padding-right: 45px;
}

#vids > .slider  {
  animation-duration: 0.5s;
  animation-name: slidein;
}

div#vids.skip_transition {
  transition: none;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media (max-width: 400px) {
  div#vids {
    width: 100% !important;
  }

  .vids-container {
    width: 300px;
    max-width: 90%;
    min-width: 0;
    margin: auto;
  }
}
  